html, body{
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 100%;
}

h1, h2, h3{
  margin:0;
  padding:0;
}

h1{
  font-size: 6.854em;
  font-weight: 300;
}
h2{
  font-size: 4.236em;
  text-align: center;
}
h3{
  font-size: 2.618em;
}

hr{
  margin: 1em 20% 1em;
}
/*=====================nav bar=======================*/
nav {
  position: fixed;
  z-index: 500;
  width: 100%;
}

nav ul {
  display: block;
  margin-right: 10px;
  float: right;
}

nav ul li {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px 25px;
  color: rgba(255, 255, 255, 0.5);
}

nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 5px;
  text-decoration: none;
  font-weight: 400;
  -webit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
nav ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
nav ul li a:focus {
  color: white;
}

/*=====================home=======================*/
#home{
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #fff, transparent),
              url('images/bougSky.JPG') no-repeat center center;
  background-size: cover;
}

hgroup{
  padding: 30% 0 0 10%;
  color: #333;
}

hgroup h3{
margin-left: 1%;
}

/*=====================work=======================*/

#work{
  background-color: white;
  margin: 3.25em 0;
  text-align: center;
}#work h2{
    margin: 1em 0 1em 0;
  }

.clear-fix:after{
  content: "";
  display: table;
  clear: both;
}


.tiles{
  margin: auto;
  display: inline-block;
  position: relative;
  height: 20em;
}

.tile-item{
  position: relative;
  float:left;
  margin: auto;
  text-align: center;
  height: 20em;
  width: 20em;
  }.tile-item img{
    display: block;
    height: 20em;
    width: 20em;
  }.tile-item a{
    text-decoration: none;
    border: none;
  }

.work-tiles{
  width: 100%;
  height: 20em;
  text-align: center;
}

.hover-label{
  position: absolute;
  left:0;
  z-index: 6;
  background: rgba(0, 0, 0, 0.6);
  color: #000;
  cursor: pointer;
  height: 20em;
  width: 20em;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  text-align: center;
  vertical-align: middle;
  }.hover-label span h1{
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.1em;
    padding-top: 45%;
  }.hover-label span h2{
    font-size: 0.9em;
    font-weight: 400;
    color: white;
  }.hover-label:hover {
    opacity: 1;
  }

/************PROJECTS**********/

.project-img{
  display: block;
  margin: auto;
  width: 60%;
}.project-p{
  text-align: left;
  margin: 1em 30%;
  line-height: 1.6;
}

.slick-prev{
  left: 15%;
  color: black;
}

.slick-prev:before{
  content: '<';
  font-weight: 700
}

.slick-next{
  right: 15%;
  color: black;
}

.slick-next:before{
  content: '>';
  font-weight: 700
}

/************* MEDIA***********/

@media (max-width: 1300px){
  body { font-size:90%;}
}

@media (max-width: 1200px){
  body { font-size:85%;}
}

@media (max-width: 1100px){
  body { font-size:80%;}
}

@media (max-width: 1040px){
  body { font-size: 75%;}
}

@media (max-width: 975px){
  body { font-size: 70%;}
}

@media (max-width: 910px){
  body { font-size: 65%;}
}

@media (max-width: 842px){
  body { font-size: 60%;}
}

@media (max-width: 777px){
  body { font-size: 55%;}
}

@media (max-width: 730px){
  body { font-size: 50%;}
}
