html, body{
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #999;
}

h1, h2, h3{
  margin:0;
  padding:0;
}

h1{
  font-size: 6.854rem;
  font-weight: 300;
}
h2{
  font-size: 4.236rem;
}
h3{
  font-size: 2.618rem;
}
/*=====================nav bar=======================*/
nav {
  position: fixed;
  z-index: 500;
  width: 100%;
}

nav ul {
  display: block;
  margin-right: 10px;
  float: right;
}

nav ul li {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px 25px;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 5px;
  text-decoration: none;
  font-weight: 400;
  -webit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
nav ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
nav ul li a:focus {
  color: white;
}

/*=====================home=======================*/
#home{
  height: 90%;
  width: 100%;
  background: linear-gradient(0deg, #fff, transparent),
              url('images/mountiansBw.jpg') no-repeat center center;
  background-size: cover;
}

hgroup{
  padding: 30% 0 0 10%;
  color: #333;
}

hgroup h3{
  margin-left: 3%;
}

/*=====================work=======================*/

#planning{
  width: 66%;
}

#landscape{
  width: 33%;
}
